In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_excel('E:/KULIAH/Semester 6/DATA MINING/Naive Bayes/shooping_demo.xls')

In [6]:
data.head()

       Day Discount Free Delivery  Buy
0  Weekday      Yes           Yes  Yes
1  Weekday      Yes           Yes  Yes
2  Weekend       No            No   No
3  Holiday      Yes           Yes  Yes
4  Weekday      Yes           Yes  Yes

In [7]:
data.shape

(50, 4)

In [9]:
data['Buy'].value_counts()

Yes    41
No      9
Name: Buy, dtype: int64

In [10]:
PYes = 41/50
PNo = 9/50

In [11]:
print(PYes)

0.82

In [12]:
print(PNo)

0.18

In [13]:
pd.crosstab(data['Day'],data['Buy'])

Buy      No  Yes
Day
Holiday   6   18
Weekday   2    9
Weekend   1   14

In [15]:
PHolidayNo = 6/9
PWeekdayNo = 2/9
PWeekendNo = 1/9

PHolidayYes = 18/41
PWeekdayYes = 9/41
PWeekendYes = 14/41

PHoliday = 24/50
PWeekday = 11/50
PWeekend = 15/50

print(PWeekdayYes)

0.21951219512195122

In [16]:
# P(A|B) ?
# P (B) = PWeeday
# p (A) = No Buy
# P(B|A) = P Weekday | NoBuy

In [17]:
PNoWeekday = (PWeekdayNo*PNo)/PWeekday
print(PNoWeekday)

0.1818181818181818

In [18]:
PYesWeekday = (PWeekdayYes*PYes)/PWeekday
print(PYesWeekday)

0.8181818181818181

In [19]:
# Probabilitas (Buy | weekday) > dibanding dengan probabilitas (NoBuy | weekday)
print(PNoWeekday)
print(PYesWeekday)

0.1818181818181818
0.8181818181818181

In [20]:
# kondisi B dimana
# day - holiday
# discont = yes
# free delivery = yes
# A = buy
# P(A|B) = p(buy}|discontyes, free delivery yes, PDayholiday)

In [21]:
pd.crosstab(data['Discount'], data['Buy'])

Buy       No  Yes
Discount
No         5   12
Yes        4   29

In [22]:
PNoDiscountNo = 5/9
PYesDiscountNo = 4/9

PNoDiscountYes = 12/41
PYesDiscountYes = 29/41

PNoDiscount = 17/50
PYesDiscount = 33/50

In [23]:
pd.crosstab(data['Free Delivery'], data['Buy'])

Buy            No  Yes
Free Delivery
No              4   10
Yes             5   31

In [24]:
PNoDeliveryNo = 4/9
PYesDeliveryNo = 5/9

PNoDeliveryYes = 10/41
PYesDeliveryYes = 31/41

PNoDelivery = 14/50
PYesDelivery = 36/50

In [25]:
# kondisi B dimana 
# Day = Holiday
# Discount = yes
# Free Delivery = yes
# P(A) = NoBuy = PNo
# P(B) = PYesDiscount, PYesDelivery, PHoliday
# P(B|A)1 = (PHoliday|No Buy) = PHolidayNo
# P(B|A)2 = (PYesDiscount|No Buy) = PYesDiscountNo
# P(B|A)3 = (PYesDelivery|No Buy) = PYesDeliveryNo
# P(B)1 = PHoliday
# P(B)2 = PYesDiscount
# P(B)3 = PYesDelivery

# ditanyakan P(A|B) ?
# rumus
# P(A|B) = P(B|A)*P(A)/p(B)

In [27]:
PNoBuy1 = ((PHolidayNo*PYesDiscountNo*PYesDeliveryNo)*PNo)/(PHoliday*PYesDiscount*PYesDelivery)
print(PNoBuy1)

0.12989982125784594

In [28]:
PBuy2 = ((PHolidayYes*PYesDiscountYes*PYesDeliveryYes)*PYes)/(PHoliday*PYesDiscount*PYesDelivery)
print(PBuy2)

0.8440667832398943

In [29]:
PSum = PNoBuy1+PBuy2
print(PSum)

0.9739666044977402

In [31]:
PBuy = (PBuy2/PSum) * 100
print(PBuy)

86.66280541263185

In [32]:
PNoBuy = (PNoBuy1/PSum) * 100
print(PNoBuy)

13.337194587368147